/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 21, 2024, 9:26:24 PM
    Author     : Xuanphuc
*/

            .add-button-container {
                text-align: right;
            }

            .add-button-container a {
                text-decoration: none;
                color: #fff;
            }

            .add-button-container a:hover {
                color: #fff;
                text-decoration: none;
            }

            .add-button {
                background-color: #007bff;
                border: none;
                color: #fff;
                padding: 8px 16px;
                border-radius: 5px;
                font-size: 12px;
                margin: 10px;
                cursor: pointer;
            }

            .add-button:hover {
                background-color: #0056b3;
            }
            .header-list{
                padding-top: 20px;
                font-size: 20px;
            }
            .table{
                font-size: 15px;
            }
            .filter{
                width: 10%;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type=number] {
                -moz-appearance: textfield;
            }
            .filter .search{
                background-color: #007bff;
                color: white;
                border-radius: 20%;
            }