<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>controller.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOTP</servlet-name>
        <servlet-class>controller.GetOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newpassword</servlet-name>
        <servlet-class>controller.Newpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTP</servlet-name>
        <servlet-class>controller.OTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransHis</servlet-name>
        <servlet-class>controller.TransHis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filter</servlet-name>
        <servlet-class>controller.filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mysale</servlet-name>
        <servlet-class>controller.Mysale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySale</servlet-name>
        <servlet-class>controller.MySale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduct</servlet-name>
        <servlet-class>controller.DetailProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOTP</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newpassword</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTP</servlet-name>
        <url-pattern>/otp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransHis</servlet-name>
        <url-pattern>/transhis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filter</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySale</servlet-name>
        <url-pattern>/mysale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduct</servlet-name>
        <url-pattern>/detailproduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>filterMoney</servlet-name>
        <servlet-class>controller.filterMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterType</servlet-name>
        <servlet-class>controller.filterType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterWork</servlet-name>
        <servlet-class>controller.filterWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterNote</servlet-name>
        <servlet-class>controller.filterNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailsTransHis</servlet-name>
        <servlet-class>controller.detailsTransHis</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
    <servlet-name>filterMoney</servlet-name>
        <url-pattern>/filterMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterType</servlet-name>
        <url-pattern>/filterType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterWork</servlet-name>
        <url-pattern>/filterWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterNote</servlet-name>
        <url-pattern>/filterNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailsTransHis</servlet-name>
        <url-pattern>/detailsTransHis</url-pattern>
    </servlet-mapping>
</web-app>
